<h2>Profile</h2>
<div class="flex-grid">
  <div >
   
    <table class="player-details">
      <tbody>
        <tr>
          <td class="player-details-value">{{ playerInfo.name }}</td>
        </tr>
        <tr>
          <td class="player-details-value">{{ playerInfo.text }}</td>
        </tr>
        <tr class="role">
          <td class="player-details-value">{{ playerInfo.matches }}</td>
        </tr>
        <tr>
          <td class="player-details-label">Team:</td>
          <td class="player-details-value">{{ playerInfo.team }}</td>
        </tr>
        <tr>
          <td class="player-details-label">Runs:</td>
          <td class="player-details-value">{{ playerInfo.runs }}</td>
        </tr>
        <tr>
          <td class="player-details-label">Average:</td>
          <td class="player-details-value">{{ playerInfo.avg }}</td>
        </tr>
        <tr>
          <td class="player-details-label">Wickets:</td>
          <td class="player-details-value">{{ playerInfo.wickets }}</td>
        </tr>
        <tr>
          <td class="player-details-label">highestscore:</td>
          <td class="player-details-value">{{ playerInfo.highestScore }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
